@tailwind base;

@tailwind components;

@tailwind utilities;

body {
	font-family: 'Dubai-Regular';
    color: #FBFBFD;
}

/* Fonts */
@font-face {
	font-family: 'Dubai-Light';
	src: url('./assets/fonts/DubaiW23-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
}

.font-general-light-italic {
	font-family: 'Dubai-Light';
	font-style: italic;
}

.font-general-light {
	font-family: 'Dubai-Light';
}

@font-face {
	font-family: 'Dubai-Regular';
	src: url('./assets/fonts/DubaiW23-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

.font-general-regular {
	font-family: 'Dubai-Regular';
}

.font-general-italic {
	font-family: 'Dubai-Regular';
	font-style: italic;
}

@font-face {
	font-family: 'Dubai-Medium';
	src: url('./assets/fonts/DubaiW23-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

.font-general-medium {
	font-family: 'Dubai-Medium';
}

.font-general-medium-italic {
	font-family: 'Dubai-Medium';
	font-style: italic;
}

@font-face {
	font-family: 'Dubai-Bold';
	src: url('./assets/fonts/DubaiW23-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

.font-general-bold {
	font-family: 'Dubai-Bold';
}

.font-general-bold-italic {
	font-family: 'Dubai-Bold';
	font-style: italic;
}

